<header>
  <h1>Album Info</h1>
</header>
<div>
  <ul>
    <li>
      <%= @album.title %>
    -
      <%= link_to 'Add Song', new_album_song_path(@album.id) %>
    -
      <%= link_to 'Edit', edit_album_path(@album.id) %>
    -
      <%= link_to 'Delete',  @album,  method: :delete, data: { confirm: 'Are you sure?' } %>
    </li>
  </ul>
</div>
